p {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 960px;
    height: 400px;
    background-color: white;
    border: 3px solid rgb(199, 199, 199);
}


.top {
    width: 960px;
    height: 125px;
    background-color:#17A2B8;
    display: flex;
}

.profil {
    background-color: white;
    width: 83px;
    height: 83px;
    border-radius: 100%;
    border: 3px solid rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -42px;
}

.Name {
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1px;
}

.location {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.editProfile {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: #085394;
}

.Description {
    font-size:small
}


.bottom {
    margin-left: 50px;
}



