*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(231, 231, 231);
}

.navBarContainer {
    background-color: rgb(61, 61, 61);
}

.nav {
    margin: auto;
    width: 60%;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.leftAlign {
    gap: 40px;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav-links {
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #17A2B8;
    border: 2px solid black;
    box-shadow: 3.5px 3.5px 2px black;
    width: 120px;
    height: 45px;
    color: white;
    font-size: large;
    font-weight: bold;
}

/* Main Page */

.main {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 3%;
    padding-top: 25px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 2;
}

.rightSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

.editCard {
    background-color: white;
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
}

.top {
    height: 125px;
    background-color: #17A2B8;
    display: flex;
}

.bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
    padding-left: 30px;
    gap: 30px;
}

.education {
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
}

.header {
    height: 50px;
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}

.headerLS {
    padding-left: 30px;
    height: 50px;
    background-color: rgb(52, 52, 52);
    display: flex;
    align-items: center;  
    gap: 20px;
    color: white;
}

.content {
    padding: 20px 0px 0px 30px;
}

.headerText {
    color: white;
    font-size: large;
    font-weight: bold;
}

.line1 {
    color: rgb(97, 96, 96);
    font-size: large;
    font-weight: bold; 
}

.line2 {
    color: rgb(178, 178, 178);
    font-weight: bold;
}

.line3 {
    color: rgb(79, 79, 79);
    font-size: large;
    font-weight: bold;
}

.profil {
    background-color: white;
    width: 83px;
    height: 83px;
    border-radius: 100%;
    border: 3px solid rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Name {
    font-size: xx-large;
    font-weight: bold;
}

.location {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fas.fa-cog {
    color: #085394; 
    font-size: 18px; 
}




.editProfile {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: underline;
    color: #085394;
}

.Description {
    font-size: small;
}

.active {
    font-weight: bold;
}

/* rightSide */

.number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(52, 52, 52);
    font-weight: bolder;
}

.number2 {
    width: 60px;
    height: 30px;
    border-radius: 50%;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(52, 52, 52);
    font-weight: bolder;
}

.contentRF {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    padding: 10px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}

.left {
    padding: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 12px;
    
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fas.fa-check, .fas.fa-times {
    font-size: 24px;
    color: white;
    font-weight:600px;


}

div .fas.fa-check, .fas.fa-times {
    font-size: 24px;
    background-color: #CCCCCC;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.bottomRight {

    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: rgb(199, 199, 199);

}


